<!-- <app-header></app-header> -->
<div class="principal">
  <app-navbar></app-navbar>
  <div class="container">
      <!-- <mat-drawer-container class="example-container">
          <mat-drawer mode="side" opened>Drawer content</mat-drawer>
          <mat-drawer-content>
            <router-outlet></router-outlet>
          </mat-drawer-content>
        </mat-drawer-container>  -->
        <div class="menu-lateral">
          <app-nav-lateral></app-nav-lateral>
        </div>
        <div class="main">
            <!-- <label for="" style="color: white;">Hola este es el main</label> -->            
            <div class="main-container">
              <router-outlet></router-outlet>
            </div>
        </div>
  </div>
</div>
