.title-child {
    width: 100%;
    text-align: center;
}

.title-child h2{
    font-family: sans-serif;
    margin: 10px 0;
    font-size: 2em;
}

.chart-wrapper {
    width: 500px;
    height: auto;
}