.title-child {
    width: 100%;
    text-align: center;
}

.title-child h2{
    font-family: sans-serif;
    margin: 10px 0;
    font-size: 2em;
}

.income-container {
    width: 90%;
    max-width: 800px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 15px auto 0;
    text-align: center;
}

.income-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.income-filter {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.income-label {
    width: 35%;
    text-align: right;
    padding-right: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.income-input{
    width: 65%;
    padding-left: 10px;
}

.income-container button {
    margin: 10px 0;
}

.placeholderInput {
    display: none;
}

.table-information {
    width: 100%;
    text-align: center;
}

mat-table {
    width: 800px;
    max-width: 90%;
    margin: 20px auto 0;
}

mat-paginator {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 10px;
}

.icon-delete {
    cursor: pointer;
}

.mat-cell {
    text-align: left;
}

.mobile-label {
    display: none;
}

//responsive

@media (max-width: 768px) {
    .income-row {
        flex-direction: column;
        align-items: center;
    }

    .income-filter {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .income-label label{
        display: none;
    }

    .income-label {
        display: none;
    }

    .placeholderInput {
        display: block;
    }

    .placeholderTodos {
        display: none;
    }

    //table 
    .mobile-label {
        width: 90px;
        display: inline-block;
        font-weight: bold;  
        text-align: left;          
    }
    .mat-header-row {
        display: none;
    }
    
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }

    .mat-cell {
        padding: 0;
    }
}