<!-- <div class="income-filter">
    <h2>Ingresos</h2>
    <div class="filter">
        <div class="filter-inline">
            <div class="filter-inline-1">
                <mat-label>Año: </mat-label>
                <mat-form-field>
                    <mat-label>Seleccione</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let year of years" [value]="year.value">
                        {{year.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-inline-2">
                <mat-label>Descripción: </mat-label>
                <mat-form-field>
                    <input matInput >
                </mat-form-field>
            </div>
        </div>  
        <div class="filter-inline">
            <div class="filter-inline-1">
                <mat-label>Mes: </mat-label>
                <mat-form-field>
                    <mat-label>Seleccione</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let month of months" [value]="month.value">
                        {{month.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-inline-2">
                
                    <mat-label class="monto">Monto: </mat-label>
                    <mat-slider
                    thumbLabel
                    tickInterval="100"
                    min="1"
                    max="1000"></mat-slider>      
            </div>
        </div> 
        <button mat-raised-button>Consultar</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div> -->

<div class="title-child">
    <h2>Ingresos</h2>
</div>
<div class="income-container">
    <div class="income-row">
        <div class="income-filter">
            <div class="income-label">
                <label for="">Año:</label>
            </div>
            <div class="income-input">
                <mat-form-field>
                    <mat-label>Seleccione</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let year of years" [value]="year.value">
                        {{year.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="income-filter">
            <div class="income-label">
                <label for="">Descripción:</label>
            </div>
            <div class="income-input">
                <mat-form-field>
                    <input matInput >
                </mat-form-field>             
            </div>
        </div>
    </div>
    <div class="income-row">
        <div class="income-filter">
            <div class="income-label">
                <label for="">Mes:</label>
            </div>
            <div class="income-input">
                <mat-form-field>
                    <mat-label>Seleccione</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let month of months" [value]="month.value">
                        {{month.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="income-filter">
            <div class="income-label">
                <label for="">Monto Máx:</label>
            </div>
            <div class="income-input">
                <mat-form-field>
                    <input matInput >
                </mat-form-field>      
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary">Consultar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="openDialog()">Nuevo</button>
    <!-- <button mat-raised-button>Nuevo</button> -->
</div>

<div class="table-information">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
      
        <!-- fechaR Column -->
        <ng-container matColumnDef="fechaR">
          <mat-header-cell *matHeaderCellDef> F. Registro </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fechaR}} </mat-cell>
        </ng-container>
      
        <!-- fechaA Column -->
        <ng-container matColumnDef="fechaA">
          <mat-header-cell *matHeaderCellDef> F. Activación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fechaA}} </mat-cell>
        </ng-container>

        <!-- Monto Column -->
        <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.monto}} </mat-cell>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let element"><mat-icon  class="icon-delete">delete</mat-icon></mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>
