<div class="title-child">
    <h2>Tarjetas</h2>
</div>
<div class="card-container">
    <div class="card-row">
        <div class="card-filter">
            <div class="card-label">
                <label for="">Descripción:</label>
            </div>
            <div class="card-input">
                <mat-form-field class="card-description">
                    <mat-label class="placeholderInput">Descripcion</mat-label>
                    <input matInput [(ngModel)]="descriptionFilter">
                </mat-form-field>             
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="getCards()">Consultar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="openDialog()">Nuevo</button>
    <!-- <button mat-raised-button>Nuevo</button> -->
</div>
<div class="table-information">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let element"><span class="mobile-label">Descripción :</span> {{element.description}} </mat-cell>
        </ng-container>
      
        <!-- fechaR Column -->
        <ng-container matColumnDef="dateCreate">
          <mat-header-cell *matHeaderCellDef> F. Registro </mat-header-cell>
          <mat-cell *matCellDef="let element"><span class="mobile-label">F. Registro :</span> {{element.dateCreate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <!-- Moneda Column -->
        <ng-container matColumnDef="moneda">
            <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell> 
            <mat-cell *matCellDef="let element"><span class="mobile-label">Moneda :</span> {{ element.idMoneda | coin }} </mat-cell>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="idCard">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="mobile-label">Eliminar :</span><mat-icon (click)="delete(element)"  class="icon-delete">delete</mat-icon></mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
      <mat-paginator [length]="lenghTable"
              [pageSize]="defaultSizePage"
              [pageSizeOptions]="arraySizes"
              (page)="pageEvent = getServerData($event)">
      </mat-paginator>
</div>