<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun"> -->
  <mat-sidenav-container class="example-container">
  <mat-sidenav class="lateral-menu" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <div class="menu-lateral">
      <div class="logo-info">
        <h2>Application</h2>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="/income" ><mat-icon>play_for_work</mat-icon>&nbsp;&nbsp;Ingresos</a>
        <a mat-list-item routerLink="." ><mat-icon>store</mat-icon>&nbsp;&nbsp;Egresos</a>
        <a mat-list-item routerLink="/card" ><mat-icon>credit_card</mat-icon>&nbsp;&nbsp;Tarjetas</a>
        <a mat-list-item routerLink="." ><mat-icon>dashboard</mat-icon>&nbsp;&nbsp;Resumen</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header-info">      
      <mat-toolbar color="primary">
        <mat-toolbar-row class="toolbar-header">
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <div class="row between-xs middle-xs header-row">
              <nav>
                  <a mat-button routerLinkActive="active" (click)="auth.login()" *ngIf="!auth.loggedIn">Iniciar Sesión</a>
                  <a mat-button routerLinkActive="active" *ngIf="auth.userProfile as profile">{{ profile.given_name }}</a>
                  <a mat-button routerLinkActive="active" (click)="auth.logout()" *ngIf="auth.loggedIn">Salir</a>
              </nav>          
          </div>
        </mat-toolbar-row>
    </mat-toolbar>
    </div>
    <div class="principal-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>