.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  .menu-lateral {
    width: 200px;
  }

  .logo-info {
    height: 56px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .logo-info h2{
    margin: 0;
  }

  .mat-toolbar-row {
    justify-content: space-between;
    height: 56px;
  }

  .mat-toolbar-multiple-rows {
    min-height: 56px;
  }

  .principal-content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }