<div class="box">
    <div class="title-nav">
        <h2>
            Pay App
        </h2>
        <mat-icon class="menu-burger">menu</mat-icon>
    </div>
    <div class="logo">
        <figure>
            <img src="../../../../assets/img/photo.png" alt="Perfil Image">
        </figure>
    </div>
    <ul>
        <li>
            <mat-icon>receipt</mat-icon>&nbsp;&nbsp;
            <a routerLink="/income">Ingresos</a>
        </li>
        <li>
            <mat-icon>local_atm</mat-icon>&nbsp;&nbsp;
            <a>Egresos</a>
        </li>
        <li>
            <mat-icon>video_label</mat-icon>&nbsp;&nbsp;
            <a>Tarjetas</a>
        </li>
        <li>
            <mat-icon>layers</mat-icon>&nbsp;&nbsp;
            <a>Resumen</a>
        </li>
    </ul>
</div>
