<!-- <p>home works!</p>
<button (click)="pingApi()">Ping API</button>

<pre *ngIf="responseJson">
<code>{{ responseJson | json }}</code>
</pre> -->

<div class="home-container">
    <h1>Bienvenido to Pay Application</h1><br><br>
    <p>Una aplicacion que te ayudara con tus finanzas personales y  a tener un mejor manejo de tus ingresos
        y gastos que poseas, ofrenciendote una interfaz amigable y un resumen adecuado de todo.
    </p><br><br>
    <div class="buttons">
        <a (click)="demo()">DEMO</a>
        <a (click)="login()">GOT TO LOGIN</a>
    </div>
</div>