.title-expense-detail {
    text-align: center;
}

.row-expense-detail{
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    // height: 50px;
}

.label-expense-detail {
    width: 200px;
    // background-color: red;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-expense-detail {
    width: 300px;
    // background-color: blue;
    height: 400%;
}

mat-dialog-content {
    height: 290px;
}

.placeholderInput {
    display: none;
}

@media (max-width: 768px) {
    .label-expense-detail {
        display: none;
    }

    .input-expense-detail {
        justify-content: center;
        text-align: center;
    }

    .placeholderInput {
        display: block;
    }

    .placeholderSeleccione {
        display: none;
    }
}